/* position
- static 
- relative
- fixed
- sticky

*/
/* relative */
.box {
    height: 100px;
    position: relative;
}
.box__1 {
    background-color: red;
}
.box__2 {

    background-color: yellow;
}
.box__3 {
    background-color: green;
}
.box__4 {
    background-color: grey;
    position: sticky;
    top: 10px
}

.center {
    display: flex;
    height: 60vh;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
}

.item {
    width: 400px;
    height: 400px;
    text-align: center;
    border: 1px solid black;
}

;