/* position
- static 
- relative
- fixed
- sticky

*/
/* relative */
/* .box {
    height: 100px;
    position: relative;
}
.box__1 {
    background-color: red;
}
.box__2 {

    background-color: yellow;
}
.box__3 {
    background-color: green;
}
.box__4 {
    background-color: grey;
    position: sticky;
    /* position: fixed; */
    /* top: 10px
} */

.article {
    height: 2000px;
    /* position: relative; */
    background-color: lightgrey;
}

.content {
    height: 100px;
    background-color: grey;
}

.content3 {
    background-color: red;
    position: sticky;
    top: 10px;
}

.article2 {
    background-color: bisque;
}

.content4 {
    background-color: rgb(0, 255, 119);
    position: sticky;
    top: 10px;
}