:root {
    --main-color: #4C3D74;
    --main-title-color: #FFFFFF; 
    --text-spelling: uppercase;
    --button-text-colour: #FFFFFF;
    --button-border: #A387C4;
    --button-height: 60px;
    --button-radius: 30px;



    

}