.btn {
    padding: 10px 20px;
    border: 1px solid var(--active-color);
    color: var(--active-color);
    text-transform: uppercase;
    border-radius: 5px;
    background-color: white;
}

.btn_primary {
    border: none;
    background-color: var(--active-color);
    color: white;
}

.btn_link {
    border: none;
    text-transform: none;
    background-color: transparent;
    padding: 0px;
    color: black;
}