
.hero-block {
    display: flex;
}
.left {
    width: 50%;
    height: 50px;
    height: 40vh;
    background-color: lightcyan;
} 

.right {
    width: 50%;
    height: 40vh;
    background-color: aquamarine;
    background-image: url(.jpg), #F2F2F2;
    background-size: cover;
    background-position: center;
}