.animation {
    height: 95vh;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.animation__loader {
    background-color: lightgrey;
    width: 25px;
    height: 25px;
    margin: 20px;
    border-radius: 50%;
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.animation__loader_1 {
    animation-delay:  0.5s;
}

.animation__loader_2 {
    animation-delay: 1s;
}

.animation__loader_3 {
    animation-delay: 1.5s;
}

@keyframes grow { 
    from {
        width: 35px;
        height: 35px;
        background-color: rgb(9, 54, 255);
    }
    to {
        width: 50px;
        height: 50px;
        background-color: rgb(185, 6, 6);
    }
    
}
