.container {
    max-width: 700px;
    max-height: 1000px;
    margin: auto;
    background-color: rgb(154, 154, 154);
    border-color: black;
    border-style: dotted;
    flex-direction: column;
  }
  
  .flex-container {
    display: flex;
    background-color: rgb(154, 154, 154);
    border-color: rgb(219, 231, 231);
    border-top-right-radius: 1px;
    flex-direction: row;
    padding-inline: 50px;
    padding-block: 60px;
    align-items: center;
    justify-content: space-around;
    align-content: flex-end;
 }   

  .item1 {
    margin: 10px;
    border-style: solid;
    background-color: rgb(247, 216, 233);
    border-color: rgb(219, 231, 231);
    padding-inline: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .item2 {
    margin: 70px;
    background-color: rgb(247, 216, 233);
    padding: 10px;
    border: 100px;
  }

  .item3 {
    margin: 30px;
    background-color: rgb(247, 216, 233);
    border-color: rgb(219, 231, 231);
    border-style: solid;
    padding-bottom: 200px;
    padding-inline: 60px;
  }

  .item4 {
    margin: 20px;
    border: 1px;
    background-color: rgb(247, 216, 233);
    border-color: rgb(219, 231, 231);
    border-style: solid;
    padding-inline: 20px;
    padding-bottom: 20px;
  }

  .item5 {
    margin: 20px;
    border: 1px;
    background-color: rgb(247, 216, 233);
    border-color: rgb(219, 231, 231);
    border-style: solid;
    padding-inline: 50px;
    padding-bottom: 70px;
  }

