
button:active {
  background-color: blue;
  padding: 50px;
  cursor: pointer;
}

a:link {
  color: green;
}

a:visited {
  color: red;
}


/* .test > :nth-of-type(2n) {
  background-color: red;
} */
/* :link            ссылки которые ещё не открывались */
/* :visited         ссылки на которые мы уже нажимали */
/* :hover           при наведении */
/* :active          актиывный элемент */

/* Псевдоклассы группы child */
/* :first-child         */
/* last-child           */
/* :nth-child(2)        */
/* :nth-last-child(2)   */
/* :nth-child(odd)      */
/* :nth-child(even)     */
/* :nth-child(3n)       */
/* nth-child(6n+10)     */
/* nth-last-child(6n+10)     */

/* Псевдоклассы группы type */
/* :first-of-type(3) */
/* :nth-of-type(2n) */
/* :nth-of-type(2n+1) */
/* li:nth-of-type(5),
.list__item:nth-of-type(3) */

.test2:focus {
  border: solid 10px red;
  background-color: red;
}

li:empty {
    display: none;
  }

.checkbox:checked {
  color: red;
  background-color: red;
}

.checkbox:checked {
  color: red;
  background-color: red;
}

/* :focus               tab */
/* :not                 не */
/* li:not(:last-child) {
    margin-bottom: 1em;
  } */


/* :checked
:disabled, :enabled */


/* :empty               пустые элементы */

/* :where() */
/* header a,
main a,
footer a {
  color: blue;
} */

/* :where(header, main, footer) a {
    color: blue;
  } */


/* :required
:optional
:invalid, 
:valid
:lang
:root */

header a,
main a,
footer a {
  color: blue;
} 

:where(header, main, footer) a {
  color: blue;
}