:root {
    --main-bg-color: grey;
    --main-padding: 50px;
}

div {
    background-color: var(--main-bg-color);
    padding: var(--main-padding);
}

.btn {
    height: 50px;
    width: 100px;
    font-size: 32px;
    border-radius: 10px;
    border: none;
}


.btn_primary { background-color: green;}
.btn_danger { background-color: orange;}
.btn_delete { background-color: red;}
.btn_info { background-color: rgb(17, 0, 255);}

.btn_large { width: 150px; font-weight: bold;}
.btn_small { width: 30px; }