.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 35px 35px 80px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 31px;
}