.main-info {
    display: flex;
    flex-direction: column;
}
.main-info__image-bottom {
    align-self: center;
}
.main-info__block {
 border: 5px solid var(--border-colour);
 border-radius: 30px;
 margin: 2.8rem;
 padding: 2.5rem;
 position: relative;
 box-shadow: var(--shadow);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.main-info__block_link {
 color: white;
}

.main-info__block_button_lower { transform: translate(0, 100%);}
.main-info__block_button_common { transform: translate(0, 140%);}

@media only screen and (min-width:470px) {
.main-info__block_button_middle  { transform: translate(0, 120%)}
}
@media only screen and (min-width:730px) {
    .main-info__block_button_top {transform: translate(0, 100%);}

}
@media screen and (min-width:900px) {
    .main-info__block_button_lower { transform: translate(0, 120%);}
    .main-info__block_button_common { transform: translate(0, 140%)}
}

@media screen and (min-width:1200px) {
        .main-info__block_button_top {transform: translate(0, 160%);}}    


@media screen and (max-width:1400px){
    .main-info__block_image_hidden { display: none;}
}
@media screen and (min-width:1400px) {
    .main-info__block {
        min-width: 1160px;
        max-width: 1440px;
        min-height: 324px;
        margin: 80px 10px;
    }
    .main-info__block_image_hidden {
        position: absolute;}

    .right-image {
        transform: translate(220%, 70%);}
    .left-image 
    {transform: translate(-220%, 70%);}
    
    .main-info__block_button {
        transform: translate(0, 290%);}

}
@media only screen and (max-height:1796px) {.main-info__block_hidden { display: none;}}

   /* У меня почему-то грид сетка сущесвует отдельно от ее содержимого и инспектор показывает, что грид-эриа не работает.. Все просто уплывает в сторону от сетки
   .main-info{
        display: grid;
        grid-template-columns: 50px 332px 400px 190px 192px;
        grid-template-rows: 325px 120px 290px 120px 225px 120px;
        grid-template-areas:
        "tb  tb tb tb  tb"
        "tb, tli tb bt tri"
        "mb mb  mb  mb  mb"
        "mb mli bm  mb mri"
        "bb bb  bb  bb bb"
        "bb bli bbtn bb bri" ;
    }
    .grid-item_top-block{
        grid-area: tb;
    }
    .main-info__block_button_top {
        grid-area: bt;
    }
    .main-info__block_top-left_img {
        grid-area: tli;
    }
    .main-info__block_top-right_img {
        grid-area: tri;
    }
    .grid-item_middle-block {
        grid-area: mb;
    }
    .main-info__block_button_middle {
        grid-area: bm;
    }
    .main-info__block_middle-left_img {
        grid-area: mli;
    }
    .main-info__block_middle-right_img {
        grid-area: mri;
    }
    .grid-item_bottom-block {
        grid-area: bb;}
    .main-info__block_button_lower {
        grid-area: bbtn;
    }   
     .main-info__block_bottom-left_img {
        grid-area: bli;
     }
     .main-info__block_bottom-right_img {
        grid-area: bri;
     }*/