@import url(resset.css);
@import url(var.css);
@import url(header.css);
@import url(main.css);
@font-face {
    font-family: Futura;
    src: url(../futura/futur.ttf);
    src: url(../futura/Futura\ Bold\ Italic\ font.ttf);
    src: url(../futura/Futura\ Bold\ font.ttf);
}
    

body {
    background-color: var(--main-color);
    font-family: Futura;
    text-transform: var( --text-spelling);
    color: var(--main-title-color);
    margin: 0 auto;
    min-width: 414px;
    font-size: 16px;
}
p { font-size: 16px;
    line-height: 24px;
}
.title { 
    font-size: var(--main-title-size);
    line-height: var(--main-title-line-height);
    font-weight: 700;
}
h3 {
    font-size: 1.56rem;
    line-height: 2rem;
}

/*Button*/
button {
    background-color: var(--button-colour);
    border: 1px solid var(--button-colour);
    border-radius: 30px;
    color: var(--button-text-color);
    height: var(--button-height);
    width: var(--button-width);
    margin-top: 10px;
    align-self: center;
}