/* main section hero */
.hero-container {
    display: flex;
    justify-content: space-between;
    
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
    padding: 154px 126px 135px 162px;
    background-color: var(--color-grey);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 433px;
    margin-bottom: 52px;
}

.hero-title {
    margin: 0;
    margin-bottom: 36px;
    font-size: 56px;
    font-weight: 600;
    line-height: 69px;
    color: var(--color-black);
}

.hero-descr {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 140.62%;
    color: var(--color-black);
}

.hero-btn {
    padding: 19px 31px;
    color: var(--color-white);
    border: none;
    background-color: var(--color-orange);
}

.hero-right {
    width: 100%;
    max-width: 50%;
    background-color: var(--color-grey);
    background-image: url(../img/raster/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* section obout */
.about-container {
    display: flex;
}


.about-left {
    width: 100%;
    max-width: 50%;
    background-color: var(--color-grey);
    background-image: url(../img/raster/about.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 164px 166px 104px 112px;
    max-width: 50%;
    background-color: var(--color-grey);
}

.about-title {
   text-align: start;
}

.about-descr {
    margin-bottom: 35px;
    font-size: 20px;
    text-align: start;
}

.about-link {
    padding: 18px 41px;
}

/* section services */

.services {
    padding-top: 96px;
}

.services-container {
    padding: 0  135px;
}

.services-descr {
    margin-bottom: 64px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    --offsets: 3;
    gap: var(--gap);
}

.services-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
    background-color: var(--color-white);
}    

.services-item:first-child {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.services-image {
    height: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.services-image1 {
    background-image: url(../img/raster/services1.png);
}

.services-image2 {
    background-image: url(../img/raster/services2.png);
}

.services-image3 {
    background-image: url(../img/raster/services3.png);
}

.services-image4 {
    background-image: url(../img/raster/services4.png);
}

.services-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
}

.services-item-title {
    margin: 0;
    margin-bottom: 74px;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black);
}

.services-link {
    font-size: 14px;
    line-height: 19px;
    color: var(--color-black);
}


/* contacts */

.contacts-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #F7941E;
}

.contacts-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contacts-title {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 140.62%;   
}

.contacts-link {
    font-size: 32px;
    line-height: 140.62%    
}

.contacts-btn-find {
    display: inline-block;
    margin-right: 16px;
    padding: 13px 32px;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 5px;
}

.contacts-btn-how {
    display: inline-block;
    padding: 12px 28px;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: 5px;
}

/* section blog */

.blog-container {
    padding: 0 135px;
}

.blog-descr {
    margin-bottom: 71px;
}

.special-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.blog-special {
    display: flex;
    flex-wrap: wrap;
}

.blog-special:not(:last-child) {
    margin-bottom: 40px;
}

.blog-preview {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    flex: 1;
    padding: 48px;
}

.blog-preview:not(:last-child) {
    margin-right: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}


.blog-preview-central {
    padding: 63px 200px 49px 478px;
    color: var(--color-light-white);
    background-image: url(../img/raster/blog.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-color: var(--color-dark-grey);
}

.blog-name {
    margin-bottom: 27px;
    font-size: 14px;
    line-height: 140%;
}

.blog-title-central {
    margin: 0;
    margin-bottom: 70px;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
}

.blog-link-central {
    margin-top: auto;
    font-size: 18px;
    line-height: 140%;
}

.blog-title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 140%;
}

.blog-preview-descr {
    margin-bottom: 38px;
    text-align: start;
}

.blog-link {
    margin-top: auto;
    font-size: 14px;
    line-height: 140%;
}
