@media (max-width: 1024px) {
.nav {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 420px;
    height: 1000px;
    padding: 150px;
    margin-right: 0;
    overflow: auto;
    visibility: hidden;
}
.burger {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.hero-left {
    padding: 100px;
}

.about-content {
    padding: 100px;
}

.services-list {
    --offsets: 1;
}

.blog-special {
    flex-direction: column;
}

.blog-preview-central {
    padding: 50px;
    background-position: center;
    background-size: cover;
    background-blend-mode: hard-light;
    }
.blog-preview-descr {
    margin-top: auto;
}    

}