@import "reset.css";
@import "common.css";
@import "header.css";
@import "main.css";


html {
    font-size: 16px;
}

h1 {
    font-size: 3rem; 
    padding: 5rem;
}

h2 {
    font-size: 20rem;
}






