.contact {
    /* background-color: #005490D4;
    opacity: 0.83; */
    background: rgba(0, 84, 144, 0.83);

}

.contact__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.contact__title {
    margin-right: 100px;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    color: var(--white-color);
    /* flex-basis: 33.333%; */
}

.contact__descr {
    margin-right: 120px;
    color: var(--pattens-blue-color);
    text-align: start;
    /* flex-basis: 33.333%; */
}

.contact__btn {
    /* flex-basis: 33.333%; */
    background-color: transparent;
    border: 1px solid var(--white-color);
    padding: 19px 53px;
}