 .counter {
    padding-bottom: 39px;
 }

.counter__info-box {
    padding: 80px 196px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    min-height: 264px;
}

.counter__info-item {
    font-family: 'Montserrat';
    font-weight: 700;
    max-width: 240px;
    width: 100%;
    text-align: center;
}

.counter__info-title {
    font-size: 58px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: var(--primary-color) ;
}

.counter__info-subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: var(--ebony-color) ;
}