
.services__title-block {
    margin-bottom: 60px;
}

.services__list-wrapper {
    position: relative;
    padding: 0 140px;
    margin-bottom: 120px;
}

.services__item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 0 36px var(--primary-color);
}

.services__item-btn_prew {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.services__item-btn_next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.services__item-btn svg {
    display: block;
    width: 20px;
    height: 20px;
}

.services__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}

.services__item {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans';
    padding: 30px;
    /* width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1)); */
}

.services__item:first-child {
    box-shadow: 0px 24px 75px rgba(90, 113, 132, 0.23);
}

.services__item-icon {
    margin-bottom: 30px;
    width: 56px;
    height: 56px;
    object-fit: cover;
}

.services__item-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: var(--congress-blue-color);
}

.services__item-descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.3px;
    color: var(--nepal-color);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.pagination__item {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #E2ECF4;
    border-radius: 50%;
}

.pagination__item:not(:last-child) {
    margin-right: 12px;
}

.pagination__item:focus-visible {
    background-color: var(--primary-color);
}
.pagination__item_active {
    background-color: var(--congress-blue-color);
}

