
.why {
    background-color: #F3F3F3;
    position: relative;
}

/* .why__container {
    position: relative;
} */

.absolut-block{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    min-height: 262px;
    padding: 80px 150px;
    background-color: #157CDC;
    box-shadow: 0px 13px 60px rgba(227, 227, 227, 0.25);
    border-radius: 32px;
}

.absolut-block__left {
    width: 50%;
}
.absolut-block__right {
    width: 50%;
}

.absolut-block_top {
    top: -131px;
    left: 50%;
    transform: translateX(-50%);
}

.absolut-block_top::before {
    content: "";
    position: absolute;
    width: 102px;
    height: 102px;
    background-image: url("../img/awards-icon.svg");
    background-repeat: no-repeat;
    left: 105px;
    top: -51px;
    
}

.why__top-title {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    color: var(--white-color);
}

.why__top-descr {
    font-size: 16px;
    line-height: 1.5;
    color: var(--pattens-blue-color);
}

.why__title-block {
    padding-top: 190px;
}