.flex-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.capital {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.tabcontent {
    display: none;
}
    
.tab > button, .tab-button {
    background-color: white;
    border: 0px;
    color: black;
    box-shadow: none;
    font-size: 1.5rem;
    margin-inline: 40px;
}

.flex-box-banking {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}