.flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.logo > img {
    margin: 10px;
    height: 30px;
}

.list {
    color: black;
}

.looking > input {
    width: 250px;
}

.login > button {
    border: 1px solid rgb(23, 104, 76);
    background-color: rgb(23, 104, 76);
    border-radius: 5px;
    color: aliceblue;
    height: 30px;
    width: 150px;
}

.flex-container-banking {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}

.item-left {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    justify-items: center;
    margin: 5%;
    padding: 10%;
}

.item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    justify-items: center;
    width: 60%;
    margin: 5%;
    border: 10px solid rgb(255, 255, 255);
}

.grid-option {
    display: grid;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(241, 241, 241);
    justify-items: center;
    justify-content: center;
    gap: 5px;
    width: 120%;
}

.name-banking {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.grid-item1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.grid-item2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

.grid-item3 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.grid-item4 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.grid-item5 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.grid-item6 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.flex-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.capital {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

button {
    background-color: orangered;
}


.flex2 {}

.item5 {}

.flex-container-orange {}

.flex-opinion {}

.text-opinion {}

.flex-green {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px green solid;
    background-color: rgb(0, 128, 83);
    margin: 12%;
    border-radius: 20px;
}

.flex-footer {}

.item-footer-logo {}

.item-footer-contact {}

.item-footer-text {}

.item-footer-list {}

.flex-add-text {}