
.animation {
    height: 95vh;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.animation_loader {
    background-color: rgb(241, 184, 184);
    width: 30px;
    height: 30px;
    margin: 20px;
    border-radius: 50%;
    animation: animation_loader;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 700ms;
}

.animation_loader_1 {
    animation-delay: 400ms;
}

.animation_loader_2 {
    animation-delay: 700ms;
}

.animation_loader_3 {
    animation-delay: 1000ms;
}