.main-bottom{
    display: flex;
    max-width: 1440px;
    min-width: 600px;
    max-height: 700px;
    min-height: 500px;
    position: relative;
    margin: 0 auto;

}

.main-bottom-right-text {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 20px;
    text-align: justify;
    width: 50%;
}
 .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: absolute;                     /* zeka vika position is not needed */
    top: 20%;
    right: 0%;
   
 }
 .bottom-btn {
    margin-left: 40px;
 }
.left-pic {
    background-image: url(../pic/Background-left.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;

}
@media only screen and (max-width:820px) {
    .left-pic { background-image: url(../pic/background-leftX05.png);}
    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-bottom-right-text {
        font-size: 1.1rem;
        margin: 15px;
        text-align: justify;}
}

@media only screen and (max-width:500px) {
    .left-pic {display: none;}
    .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;}
    }
       