html {
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background: grey;
    justify-content: space-evenly;
    align-items: center;
}

.flex-item {
    background: lightgrey;
    width: 90px;
    height: 90px;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-item1 {
    height: 100px;
}

.flex-item2 {
    height: 80px;
}

.flex-item3 {
    height: 300px;
}

/* такой вот ещё вариант */
/* .flex-container > div {
    background: lightgrey;
    width: 90px;
    height: 90px;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
} 
 .flex-item:nth-child(1) {
    height: 100px;
}

.flex-item:nth-child(2) {
    height: 80px;
}

.flex-item:nth-child(3) {
    height: 300px;
} */