.main-top{
    display: flex;
    max-width: 1400px;
    min-width: 600px;
    max-height: 700px;
    min-height: 500px;
}
.left{  
    width: 50%;
    display: flex;
    flex-direction: column;
    
} 
.right{  
    width: 50%;
}

.right-pic {
    background-image: url(pic/Background-right.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 50%;
}