@font-face {
    font-size: "Gilroy";
    src: local("Gilroy") 
    url("Gilroy-FREE\Gilroy-FREE\Gilroy-Light.otf") 
    format(.otf);
}
body{
    font-family: "Gilroy";
}
.flex-container-header {
    display:flex;
    justify-content: space-between;
}
 div {
    border: 1px solid blue;
 }

.main-top{
    display: flex;
}
.main-bottom{
    display: flex;
}

.left{  
    width: 50%;
    display: flex;
    flex-direction: column;

    
}   
.right{  
    width: 50%;

/*Text*/    
} 
h1 {
    font-size: 64px;
}  
h2{
    font-size: 32px;
}
h3{
    font-size: 20px;

}
a{
    text-decoration:none;
}

/*Buttons*/
button{
    height:60px;
    width: 200px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: #FAFAFA;
    text-align: center;
    text-transform: uppercase;
}
.top-btn{
    height: 43px;
    width: 150px;
}