.flex-conteiner {
        display: flex;
        flex-wrap: wrap;
        background: grey;
        justify-content: space-around;
        align-items: center;
    }
    .item1 {
        background: lightgrey;
        width: 90px;
        height: 100px;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    .item2 {
        background: lightgrey;
        width: 90px;
        height: 50px;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    .item3 {
        background: lightgrey;
        width: 90px;
        height: 150px;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    .item4 {
        background: lightgrey;
        width: 90px;
        height: 90px;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    .item4 {
        background: lightgrey;
        width: 90px;
        height: 90px;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    .item5 {
        background: lightgrey;
        width: 90px;
        height: 90px;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    .item6 {
        background: lightgrey;
        width: 90px;
        height: 90px;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    .item7 {
        background: lightgrey;
        width: 90px;
        height: 90px;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    .conteiner {
        max-width: 600px;
    }


  