body * + * { margin-top: 1.5em;}
.container {
  max-width: 400px;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  background-color: rgb(220, 226, 208);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-container1 {
  display: flex;
  background-color: rgb(230, 238, 187);
  flex-direction: column;
   
}
  
/* flex-wrap ---------------  */
/*   flex-wrap: nowrap;       */
/*              wrap;         */
/*              wrap-reverse; */

/* flex-flow -------------- */  
/*   flex-flow: row nowrap; */
  
/* justify-content ---------------   */
/*   justify-content: flex-start;    */
/*                    center         */
/*                    flex-end;      */
/*                    space-around;  */
/*                    space-between; */
 
/* align-items -------------- */
/*   align-items: stretch;    */
/*                flex-end;   */
/*                flex-start; */
/*                flex-end;   */
/*                baseline;   */
  
/* align-content ----------------- */ 
/*   align-content: space-between; */
/*                  space-around;  */
/*                  stretch;       */
/*                  flex-start;    */
/*                  center;        */
/*                  flex-end;      */


.flex-container > div {
  background-color: rgb(188, 201, 223);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container2 > div {
  display: flex;
  background-color: rgb(244, 103, 9);
  margin: 10px;
  font-size: 20px;
}

.flex-container3 {
  display: flex;
  background-color: rgb(237, 95, 6);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item1 {
  flex: 300px;
  width: 300px;
  align-content: space-around;
  align-content: center;
}

.item2 {
  flex: none;
  width: max-content;
  flex-grow: 3;
}

.item3 {
  flex: 200px;
  width: 200px;
  flex-grow: 4;
}

.item4 {
  background-color: rgb(239, 114, 4);
  flex: 300px;
  width: 3000px;
  flex-grow: 4;
  position: static;
  text-align: center;
}