
.nav
    .nav__logo ИНТЕНСИВ  ЮЛИИ ВОРМАН 
    .nav__links.link
        a(href="http://", target="_blank", rel="noopener noreferrer") link 1
        a(href="http://", target="_blank", rel="noopener noreferrer") link 2
        a(href="http://", target="_blank", rel="noopener noreferrer") link 3
        a(href="http://", target="_blank", rel="noopener noreferrer") link 4
    